.row
  .col-lg-12
    = form_tag restore_restore_path, method: "post" do
      .panel.panel-default
        .panel-heading
          %h2
            Restore from Backup

        .panel-plain.wizard
          = render partial: "nav", locals: { active: :restore }

          .wizard-body.col-lg-9
            %h2
              Header

            %p
              Description

        .panel-footer
          .row
            .col-lg-9.text-right
              .btn-group{ role: "group" }
                = link_to icon_tag(:chevron_left, "Cancel"),
                  installer_root_path,
                  class: "btn btn-default"
                = link_to icon_tag(:chevron_right, "Restore"),
                  restore_restore_path,
                  class: "btn btn-primary"

= javascript_include_tag :upgrades
